body {
    background-color: beige;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem;

    display:flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-size:48px;
    font-weight: bold;
}

.grid-size {
    margin-top: 16px;
    padding: 10px 20px;
    font-size: 24px;
    color: white;
    background-color: salmon;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
}

.grid-container {
    display: flex;
    flex: 1;
}

.grid-element {
    flex: 1 1 var(--cell-width);
    aspect-ratio: 1/1;
    border: 0.5px solid black;
}
